:root {
    /* bootstrap4より */
    --white: #ffffff;
    --gray: #6c757d;
    --black: #343a40;
    --green: #28a745;
    --blue: #00bfff;
}

button {
    background-color: var(--gray);
    color: var(--white);
}

button {
    &[is_clicked="true"] {
        background-color: var(--green);
    }

    &[is_clicked="false"] {
        background-color: var(--blue);
    }
}

input::placeholder {
    color: var(--gray);
}

h1, h2, h3, h4, h5, h6, input, p {
    color: var(--black);
}
